<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <section>
    <div class="container text-center text-md-start mt-5">
      <div class="row">
        <div class="col-12 text-center">
          <h6>Impressum</h6>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center mb-3">
    © 2026 Copyright: Sören Schneidewind
  </div>
</footer>