{{#if signed_in}}
  {{> menu id="/" name=name}}
{{else}}
  {{> welcomemenu id="/"}}
{{/if}}

<div class="container">
  <div class="card mt-3">
      <div class="card-header">
          {{title}}
      </div>
      <div class="card-body">
          <p class="card-text">A Website where YOU can rate your favourite places, connect with others and decide on your upcoming culinary adventures!</p>
      </div>
  </div>
</div>