<body>

    {{> welcomemenu id='signup' }}

    <main>
        <div class="container mx-auto">
            <div class="card mt-3">
                <div class="card-header"><h3>Sign up!</h3></div>
                <div class="card-body">
                    <form action="/register" method="POST">
                        <div class="mb-3">
                            <label for="inputName" class="form-label">First name</label>
                            <input type="text" class="form-control" id="inputName" name="name">
                        </div>
                        <div class="mb-3">
                            <label for="inputSurname" class="form-label">Last name</label>
                            <input type="text" class="form-control" id="inputSurname" name="surname">
                        </div>
                        <div class="mb-3">
                            <label for="inputStreet" class="form-label">Full Adress</label>
                            <input type="text" class="form-control" id="inputStreet" name="street" value="{{street}}">
                        </div>
                        <div class="mb-3">
                            <label for="inputCity" class="form-label">Postal Code and City</label>
                            <input type="text" class="form-control" id="inputCity" name="city" value="{{city}}">
                        </div>
                        <div class="mb-3">
                            <label for="inputCountry" class="form-label">Country</label>
                            <input type="text" class="form-control" id="inputCountry" name="country" value="{{country}}">
                        </div>
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="inputEmail" name="email">
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Password</label>
                            <input type="password" class="form-control" id="inputPassword" name="password">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">Register</button>
                            {{#if error}} {{error_msg}} {{/if}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    {{>footer}}
</body>