html {
    height: 100%
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "IBM Plex Serif", serif;
}

main {
    flex: 1;
}

.restaurant_image {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    display: block;
}

.dish_container {
    width: 180px;
    height: 180px;
    padding: 10px;
    overflow: hidden;
}

.dish_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.dish_details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 180px;
    text-align: left;
    padding-left: 10px;
}

.dish_name {
    font-size: 22px;
    font-weight: bold;
}

.dish_price {
    font-size: 22px;
    color: #444;
    font-style: italic;
}

.dish_description {
    font-size: 22px;
    color: #888;
}

.dish_stars{
    font-size: 40px;
}

.dish_stars_container {
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    height: 180px;
    text-align: center;
}

.star_rating {
    font-size: 30px;
}

.ratings_table td, .ratings_table th {
    text-align: center;
    vertical-align: middle;
}

.search-container {
    position: relative;
}

.search-input {
    height: 50px;
    border-radius: 30px;
    padding-left: 35px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #888;
}

#map {
    height: 100%;
    width: 100%;
}

a {
    color: #00613f
}

a:hover {
    color: #5bb093
}

.nav-item .nav-link {
    color: #00613f;
}

.nav-item .nav-link.active {
    background-color: #00613f;
    color: #ffffff
}

.btn {
    background-color: #00613f;
    color: #ffffff
}

.btn:hover {
    background-color: #004a30;
    color: #ffffff
}

.bi-house-fill {
    color: #00613f
}

.navbar {
    font-weight: 600;
    font-size: large;
    background-color: #c8e3d9;
}

.card-header {
    background-color: #c8e3d9;
}

.card-body {
    background-color: #ebfff8;
}

.footer {
    background-color: #c8e3d9;
}